body {
  background-color: #323131;
  color: white;
  position: relative;
  max-width: 540px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Suisse';
  box-sizing: border-box;
  padding: 36px;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  color: white;
  margin-bottom: 24px
}

.footer {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 36px;
}
